name: Format Code

on:
  push:
    branches:
      - 'main'
  pull_request:
    branches: '**'
jobs:
  format:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
      - run: python -m pip install --user black
      - run: npm install prettier
      - run: python -m black .
      - run: npx prettier .
